/* variables */
:root {
    --main-font-family: 'Open Sans', sans-serif;;
    --secondary-font-family: 'Bebas Neue', cursive;;
    --main-color: #fff;
    --secondary-color: #FFB548;

}

/* global */
*,
::after,
::before {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--main-font-family);
    color: var(--main-color);
    height: 100%;
    position: relative;
}

/* container */
.container {
    max-width: 1240px;
    height: 100%;
    padding: 0px 20px;
    width: 100%;
    margin: 0 auto;
}

/* header */
.header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 20px 0px;
    z-index: 100;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__logo {
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.header__logo > img {
    display: block;
    width: 100%;
    height: 100%;
}

.navmenu {
    display: flex;
    justify-content: space-between;
}

.navlink {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 16px;
    margin: 0px 10px;
    padding: 5px 10px;
}

.navlink > a {
    color: var(--main-color);
    font-family: var(--main-font-family);
    transition: color .2s linear;
}

.navlink>a:hover {
    color: black
}

.header__lang {
    display: flex;
    justify-content: center;
    position: relative;
}

.header__lang__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px 10px;
    margin-right: 40px;
    cursor: pointer;
}

.header__lang__block:hover .header__lang__list {
    opacity: 1;
    transform: translateY(0px);
}

.header__lang--title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    margin-right: 5px;
}

.header__lang--icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__lang--icon > img {
    display: block;
    width: 10px;
    height: 6px;
}

.header__gameLogos {
    display: flex;
    align-items: center;
}

.header__gameLogos--xbox, .header__gameLogos--steam {
    width: 30px;
    height: 30px;
    background-color: #37474F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__gameLogos--steam > img,
.header__gameLogos--xbox > img {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.header__lang__list {
    position: absolute;
    top: 35px;
    left: 0px;
    padding: 5px 0px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    background-color: black; 
    width: 55px;
    border-radius: 3px;
    z-index: 5;
    opacity: 0;
    transform: translateY(-10px);
    transition: all .3s ease-in;
}

.lang__list_item {
    padding: 2px 0px;
    padding-left: 10px;
    color: var(--main-color);
    transition: color .2s linear;
    cursor: pointer;
}

.lang__list_item:hover {
    color: #FFB548;
}

.lang__list_item:last-child {
    color: var(--secondary-color);
}

.header__gameLogos {
    position: relative;
}

.header__gameLogos::before {
    position: absolute;
    top: 0%;
    left: -25px;
    display: block;
    content: "";
    height: 100%;
    width: 1px;
    background-color: white;
    opacity: .5;
}

.header__gameLogos--xbox {
    margin-right: 17px;
}

.header__burger {
    display: none;
}

/* section INTRO */
.intro {
    width: 100%;
    height: 100vh;
    background-image: url('./images/Group\ 1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro__gradient {
    width: 100%;
    height: 100%;
    background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, .3) 20%, rgba(52, 44, 29, 0.40319) 63.22%, #08090A 99.74%);
    position: relative;
}

.intro__title__block {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__title,
.intro__subtitle,
.intro__footer__title
 {
    text-align: center;
}

.intro__title,
.intro__subtitle {
    font-family: var(--secondary-font-family);
    font-weight: 400;
}

.intro__title {
    font-size: 80px;
    letter-spacing: 3px;
    line-height: 80px;
}

.intro__subtitle {
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 24px;
    letter-spacing: 3px;
}

.intro__footer__block {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50px);
}

.intro__footer__block__scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes movingscroll {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(4px);
    }
    75% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(-2px);
    }
}

.intro__footer__block__scroll > a >img {
    width: 20px;
    height: 9px;
    animation: movingscroll 2s linear infinite;
}

.intro__footer__title {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 8px;
}

.intro__footer__block__next {
    display: none;
}

.intro__footer__block__next__wrapper {
    display: flex;
    align-items: center;
}

.intro__footer__block__next__wrapper > img {
    width: 41px;
    height: 7px;
}

.intro__footer__block__next--round {
    width: 10px;
    height: 10px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    margin-right: 10px;
}

.intro__footer__block__next--round:first-child {
    background-color: var(--main-color);
}

.intro__btn,
.quote__inner-right__btn,
.sletter__inner-right__buttons--sub {
    display: flex;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    background-color: #FFB548;
    padding: 18px;
    width: 266px;
    margin: 0 auto;
    border-radius: 4px;
    color: black;
    cursor: pointer;
}

.intro__btn-text {
    margin-right: 26px;
    text-transform: capitalize;
    position: relative;
}

.intro__btn-text:after {
    display: block;
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -13px;
    background-color: black;
    opacity: .5;
}

/* about */
.about {
    width: 100%;
    height: 100vh;
    background-image: url('./images/about.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about__gradient {
    width: 100%;
    height: 100%;
    background: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 20.63%, #080A0B 99.74%);
}

.about__gradient2 {
    width: 100%;
    height: 100%;
    background-color: #0F0F0F;
    opacity: .9;
}

.about__inner {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50px);
}

.about__inner__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.about__inner__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.about__inner__title::after {
    display: block;
    content: "";
    width: 712px;
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0px;
    background-color: var(--main-color);
    z-index: 10;
}

.about__inner__title > h3,
.features__inner__block--title > h3,
.requirements__inner__title > h3,
.quote__inner-right__title > h3,
.sletter__inner-right__title > h3
 {
    font-family: var(--secondary-font-family);
    font-size: 24px;
    color: var(--main-color);
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.about__inner__title > h1,
.features__inner__block--title > h1,
.requirements__inner__title > h1,
.quote__inner-right__title > h1,
.sletter__inner-right__title > h1
 {
    width: 410px;
    font-family: var(--secondary-font-family);
    font-size: 80px;
    color: var(--main-color);
    line-height: 80px;
    letter-spacing: 3px;
}

.about__inner__descr {
    width: 365px;
    font-size: 18px;
    margin-right: 20px;
    align-self: flex-end;
    line-height: 22px;
    margin-top: 60px;
    position: relative;
    text-align: justify;
}

.about__inner__descr > p > span {
    font-weight: 700;
}

.about__inner__descr::after {
    display: block;
    content: "";
    width: 122px;
    height: 6px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 2px;
    right: 77px;
    z-index: -1;
}

.about__slider {
    width: 50%;
    height: 631px;
    padding: 10px;
    margin-top: 100px;
    position: relative;
    display: flex;
}

.slider__item:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 5;
    width: 500px;
    height: 610px;
}

.slider__item:nth-child(2) {
    position: absolute;
    top: 20px;
    left: 80px;
    width: 440px;
    height: 565px;
    opacity: .9;
    z-index: 4;
}

.slider__item:nth-child(3) {
    position: absolute;
    top: 40px;
    left: 100px;
    z-index: 3;
    width: 438px;
    height: 512px;
    opacity: .8;
}

.slider__item > img {
    max-width: 100%;
    height: auto;
    border-radius: 7px;
}

.switch {
    position: absolute;
    right: 0px;
    top: 50%;
}

/* FEATURES */
.features {
    width: 100%;
    height: 100vh;
    background-image: url('./images/features.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.features__gradient {
    width: 100%;
    height: 100%;
    background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%)
}

.features__gradient2 {
    width: 100%;
    height: 100%;
    background: radial-gradient(38.76% 48.3% at 70.49% 41.61%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 15.11%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.features__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.features__inner__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.features__inner__block--title {
    margin-bottom: 70px;
}

.divider__wrapper> h1 {
    margin-bottom: 50px;
}

.divider__title {
    font-family: var(--secondary-font-family);
    font-size: 36px;
    letter-spacing: 2px;
    color: var(--secondary-color);
    margin-left: 40px;
}

.divider__descr {
    font-size: 18px;
    line-height: 22px;
    color: var(--main-color);
    margin-left: 40px;
    margin-bottom: 35px;
    text-align: justify;
}

.divider__title {
    position: relative;
}

.divider__title::after {
    display: block;
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid var(--main-color);
    position: absolute;
    top: 50%;
    left: -10.7%;
    border-radius: 50%;
    transform: translate(0%, -50%);
}

.divider__title:first-of-type::after {
    background-color: var(--main-color);
}

.divider__title:first-of-type {
    margin-bottom: 10px;
}

.divider__title:nth-child(3) {
    margin-bottom: 30px;
}

.divider__wrapper {
    position: relative;
}

.divider__wrapper::before {
    display: block;
    content: "";
    width: 1px;
    height: 140px;
    border: 1px solid var(--main-color);
    position: absolute;
    top: 10.7%;
    left: 1.7%;
}

/* REQUIREMENTS */
.requirements {
    width: 100%;
    height: 100vh;
    background-image: url('./images/requirements.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.requirements__gradient {
    width: 100%;
    height: 100%;
    background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%)
}

.requirements__inner__title {
    text-align: center;
    padding-top: 145px;
    margin-bottom: 100px;
}

.requirements__inner__title > h1 {
    width: 100%;
}

/* table */
table {
    width: 575px;
    height: 400px;
    border-collapse: collapse;
    position: relative;
}

table::after {
    display: block;
    background: url(./images/tableBorder.png);
    content: "";
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute; 
}

td {
    width: 50%;
    padding: 0px 10px;
    vertical-align: top;
}

tr {
    height: 33.3%;
}

.td__title {
    font-family: var(--secondary-font-family);
    letter-spacing: 2px;
    font-size: 24px;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 8px;
    margin-top: 15px;
    line-height: 24px;
}

td > p {
    font-size: 18px;
    color: var(--main-color);
    line-height: 22px;
    opacity: .8;
}

tr:nth-child(1) > td:first-child {
    position: relative;
}

tr:nth-child(1) > td:first-child::after {
    display: block;
    content: "";
    height: 100%;
    width: 1px;
    position: absolute;
    top: 1%;
    right: -0.2%;
    background-color: #979797;
    opacity: 0.3;
}

tr:nth-child(2) > td:first-child {
    border-right: 1px solid #383838;
}

tr:nth-child(2) {
    position: relative;
}

tr:nth-child(2)::after {
    display: block;
    content: "";
    height: 1px;
    width: 99.8%;
    position: absolute;
    top: 0%;
    left: 0.2%;
    background-color: #979797;
    opacity: 0.3;
}

tr:nth-child(2) > td:first-of-type {
    position: relative;
}

tr:nth-child(2) > td:first-of-type:after {
    display: block;
    content: "";
    height: 1px;
    width: 200%;
    position: absolute;
    bottom: 0%;
    left: 0.4%;
    background-color: #979797;
    opacity: 0.3;
}

tr:last-child td {
    position: relative;
}

tr:last-child td::before {
    display: block;
    content: "";
    height: 1px;
    width: 68px;
    position: absolute;
    bottom: 0%;
    left: 0.2%;
    background-color: #979797;
    opacity: 0.3;
}

tr:last-child td::after {
    display: block;
    content: "";
    height: 1px;
    width: 418px;
    position: absolute;
    bottom: 0%;
    left: 26.2%;
    background-color: #979797;
    opacity: 0.3;
}

/* quote */
.quote {
    width: 100%;
    height: 100vh;
   background-color: black;
}

.quote__gradient {
    width:100%;
    height: 100%;
    background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%)
}

.quote__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quote__inner-right {
    width: 35%;
}

.quote__inner-left {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote__inner-right__title > p {
    margin: 50px 0px;
    font-size: 18px;
    line-height: 22px;
    color: var(--main-color);
    text-align: justify;
}

.quote__inner-right__btn {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0px;
}

.quote__inner-left__block {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    padding: 25px;
    max-width: 470px;
    height: auto;
    margin-bottom: 30px;
}

.quote__inner-left__block:nth-child(2) {
    transform: translateX(-30%);
}

.quote__inner-left__block:nth-child(3) {
    transform: translateX(-10%);
}

.quote__inner-left__block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}

.quote__inner-left__block-header__info {
    display: flex;
    align-items: center;
}

.quote__inner-left__block-header__info-avatar {
    width: 65px;
    height: 65px;
    background: var(--secondary-color);
    border-radius: 50%;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
}

.quote__inner-left__block-header__info-avatar > img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    position: absolute;
    top: -2px;
    left: -8px;
}

.quote__inner-left__block-header__info-name {
    display: flex;
    flex-direction: column;
    margin-left: 22px;
}

.quote__inner-left__block-header__info-name > h5 {
    font-family: var(--secondary-font-family);
    color: var(--secondary-color);
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.quote__inner-left__block-header__info-name > p {
    font-size: 18px;
    line-height: 22px;
    opacity: .5;
    font-weight: 400;
}

.quote__inner-left__block-header__info-icon {
    margin-top: -20px;
}

.quote__inner-left__block-header__info-icon > img {
    width: 18px;
    height: 14px;
}

.quote__inner-left__block > p {
    font-size: 18px;
    line-height: 25px;
    color: var(--main-color);
    margin-bottom: 10px;
}

.quote__inner-left__block-footer > p {
    font-size: 14px;
    line-height: 19px;
    color: var(--main-color);
    opacity: .5;
}

/* sletter */
.sletter {
    width: 100%;
    height: 100vh;
    background-image: url('./images/sletterBG.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sletter__gradient1 {
    width: 100%;
    height: 100%;
    background: radial-gradient(78.66% 177.87% at 19.56% 37.57%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%)
}

.sletter__gradient2 {
    width: 100%;
    height: 100%;
    background: #080A0B;
}

.sletter__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.sletter__inner-left {
    width: 35%;
}

.sletter__inner-left > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.sletter__inner-right {
    width: 55%;
}

.sletter__inner-left {
    background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    z-index: 5;
}

.sletter__inner-right__title {
    margin-bottom: 60px;
}

.sletter__inner-right__title > h1 {
    width: 100%;
    margin-bottom: 45px;
}

.sletter__inner-right__title > p {
    font-size: 18px;
    line-height: 22px;
    color: var(--main-color);
}

.sletter__inner-right__form {
    display: flex;
    justify-content: space-between;
}


.sletter__inner-right__buttons--input {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    width: 365px;
    padding: 5px 20px;
}

.sletter__inner-right__buttons--input > label {
    font-size: 14px;
    line-height: 19px;
    color: var(--main-color);
    opacity: .5;
    margin-bottom: 3px;
}

.sletter__inner-right__buttons--input > input {
    font-size: 18px;
    line-height: 25px;
    color: var(--main-color);
    border: none;
    background-color: transparent;
}

.sletter__inner-right__buttons--input > input::placeholder {
    color: var(--secondary-color);
}

.sletter__inner-right__buttons--input > input:focus {
    outline: none;
}

.sletter__inner-right__buttons--sub {
    margin: 0;
    justify-content: center;
    border: none;
}

.footer {
    position: absolute;
    bottom: 0%;
    padding: 50px 0px;
    left: 0%;
    right: 0%;
    color: white;
    width: 100%;
    z-index: 1000;
}

hr {
    margin: 30px 0px;
    opacity: .5;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__inner-menu ul {
    display: flex;
}

.footer__inner-menu ul li {
    margin-right: 40px;
}

.footer__inner-menu ul li a {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--main-color);
}

.footer__inner-menu ul li:nth-child(5) {
    margin-right: 80px;
}

.footer__inner-menu ul li:nth-child(6),
.footer__inner-menu ul li:nth-child(7),
.footer__inner-menu ul li:nth-child(8) {
    margin-right: 50px;
}

.footer__inner-logo img {
    width: 90px;
    height: 90px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom p {
    font-size: 14px;
    line-height: 19px;
    color: var(--main-color);
    opacity: .5;
}

.footer__bottom-info ul {
    display: flex;
}

.footer__bottom-info ul li {
    margin-right: 20px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.footer__bottom-info ul li:nth-child(2) {
    position: relative;
}

.footer__bottom-info ul li:nth-child(1) {
    position: relative;
}

.footer__bottom-info ul li:nth-child(1)::after {
    display: block;
    content: "";
    width: 1px;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    top: 0px;
    right: -10px;
}

.footer__bottom-info ul li:nth-child(2)::after {
    display: block;
    content: "";
    width: 1px;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    top: 0px;
    right: -10px;
}

.footer__bottom-info ul li:last-child {
    margin-right: 0px;
}

.footer__bottom-info ul li a {
    color: var(--main-color);
}

/* media query 320px */
@media screen and (max-width:320px) {
    main {
        overflow-x: hidden;
    }
    .header__logo {
        width: 33px;
        height: 33px;
    }
    .header__navbar {
        display: none;
    }

    .header__gameLogos {
        display: none;
    }

    .header__lang__block {
        margin-right: 30px;
    }

    .header__burger {
        display: block;
        cursor: pointer;
        padding: 5px 0px;
        position: relative;
    }

    .header__burger::before {
        display: block;
        content: "";
        height: 100%;
        width: 1px;
        background-color: var(--main-color);
        position: absolute;
        top: 0%;
        left: -20px;
    }

    .header__burger__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__burger > img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .intro__title {
        display: inline-block;
        width: 350px;
        font-size: 30px;
        letter-spacing: 3px;
        line-height: 30px;
        margin-bottom: 8px;
    }
    
    .intro__subtitle {
        display: inline-block;
        width: 250px;
        font-size: 14px;
        margin-bottom: 15px;
        line-height: 14px;
        letter-spacing: 3px;
    }

    .intro__btn, 
    .quote__inner-right__btn, 
    .sletter__inner-right__buttons--sub {
        font-size: 12px;
        width: 216px;
        padding: 12px;
    }

    .intro__footer__title {
        margin-bottom: 0px;
    }

    .intro__footer__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }

    .intro__footer__block__next {
        display: block;
    }

    /* about */
    .about__inner {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .about__inner__text {
        display: block;
    }
    
    .about__inner__title > h1 {
        width: 271px;
    }

    .slider__item:nth-child(1) {
        width: 225px;
        height: auto;
    }

    .slider__item:nth-child(2) {
        width: 196px;
        height: 252px;
        top: 10px;
        left: 40px;
    }

    .slider__item:nth-child(3) {
        width: 196px;
        height: auto;
        top: 20px;
        left: 50px;
    }

    .about__inner__title > h3,
    .features__inner__block--title > h3,
    .requirements__inner__title > h3,
    .quote__inner-right__title > h3,
    .sletter__inner-right__title > h3
     {
        font-size: 18px;
        margin-bottom: 5px;
    }
    
    .about__inner__title > h1,
    .features__inner__block--title > h1,
    .requirements__inner__title > h1,
    .quote__inner-right__title > h1,
    .sletter__inner-right__title > h1
     {
        font-size: 33px;
        line-height: 33px;
    }

    .about {
        padding-top: 5px;
    }

    .about__inner {
        justify-content: center;
        transform: translateY(0px)
    }

    .about__inner__text {
        width: 100%;
    }

    .about__inner__title::after {
        bottom: -15px;
    }
    
    .about__inner__descr {
        width: 100%;
        font-size: 14px;
        line-height: 16px;
        margin-top: 30px;
        padding-left: 20px;
    }

    .about__inner__descr::after {
        width: 94px;
        height: 6px;
        bottom: -0.5px;
        right: 43px;
    }

    .about__slider {
        width: 100%;
        margin-top: 20px;
        height: 300px;
        margin-left: 20px;
    }

    .switch {
        right: 20px;
    }

    .switch a img {
        height: 15px;
        width: 6px;
    }

    /* divider */
    .features {
        width: 100%;
        height: 100vh;
        background-image: url('./images/features.png');
        background-position: 34% 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .features__inner {
        display: block;
        padding-left: 60px;
        padding-top: 90px;
    }

    .features__inner__block--title {
        margin-bottom: 20px;
        margin-left: 40px;
    }

    .divider__title {
        font-size: 18px;
        line-height: 18px;
    }

    .divider__descr {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 25px;
        text-align: justify;
    }

    .divider__wrapper::before {
        top: 7%;
        left: 12.3%;
        height: 129px;
    }

    /* requirements */
    .requirements {
        background-position: 70%;
    }

    .requirements__inner__title {
        padding-top: 10px;
        margin-bottom: 40px;
    }

    table {
        width: 290px;
        height: 316px;
    }
    
    table::after {
        display: none;
    }

    table:before {
            display: block;
            background: url('./images/table2.png');
            content: "";
            opacity: 0.3;
            top: 0;
            left: -2.5%;
            bottom: 0;
            right: 0;
            position: absolute; 
    }

    tr:nth-child(1) > td:first-child::after {
        right: 2.5%;
    }

    tr:nth-child(2)::after {
        left: -2%
    }

    tr:nth-child(2) > td:first-of-type:after {
        left: -3.5%;
    }

    tr:last-child td::after {
        display: none;
    }

    .td__title {
        font-size: 18px;
        line-height: 18px;
        margin: 5px 0px;
    }

    td > p {
        font-size: 14px;
        line-height: 16px;
    }

    /* quote */
    .quote {
        height: 100%;
    }

    .quote__inner {
        display: block;
    }

    .quote__inner-right {
        width: 100%;
        margin-bottom: 30px;
    }

    .quote__inner-left {
        width: 100%;
    }

    .quote__inner-right__title > p {
        margin: 20px 0px;
        font-size: 14px;
    }

    .quote__inner-left__block {
        padding: 5px;
        margin-bottom: 20px;
    }

    .quote__inner-left__block:nth-child(2),
    .quote__inner-left__block:nth-child(3) {
        transform: translateX(0px);
    }

    .quote__inner-left__block-header__info-name > h5 {
        font-size: 21px;
        line-height: 21px;
    }

    .quote__inner-left__block-header__info-name > p {
        font-size: 14px;
        line-height: 22px;
    }

    .quote__inner-left__block-header__info-avatar {
        width: 45px;
        height: 45px;
    }

    .quote__inner-left__block-header__info-avatar > img {
        width: 44px;
        height: 44px;
        top: -1px;
        left: -4px;
    }

    .quote__inner-left__block-header__info-name {
        margin-left: 15px;
    }

    .quote__inner-left__block > p {
        font-size: 14px;
        line-height: 19px;
    }

    .quote__inner-left__block-footer > p {
        font-size: 12px;
        line-height: 16px;
    }

    .quote__inner-right__btn {
        margin: 0 auto;
    }

    /* sletter */
    .sletter {
        height: 100%;
    }

    .sletter__inner {
        display: block;
    }

    .sletter__inner-left {
        width: 100%;
    }

    .sletter__inner-right {
        width: 100%;
    }

    .sletter__inner-right__form {
        display: block;
    }

    /* footer */
    .footer__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__inner-menu {
        display: none;
    }

    .footer__bottom {
        display: flex;
        flex-direction: column;
    }

    .footer__bottom-info > ul {
        flex-direction: column;
    }

}


